body{
    background: rgba(158, 151, 149, 0.705);

}
header{
    font-family: 'Pacifico', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Seymour One', sans-serif;
    font-size: 45px;
    text-align: center;
    color: rgb(34, 20, 20);
    margin-top: 5rem;

}

.control-nintendo{
    width: 600px;
    height: 200px;
    background-color: rgb(218, 218, 218);
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 115px 115px 220px 220px;
    box-shadow: -20px -20px 20px rgba(82, 81, 81, 0.4);
}


h1{
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 15px;
    color: rgb(90, 75, 88);
}

.control-R{
    width: 270px;
    height: 270px;
    background-color: rgb(218, 218, 218);
    transform: translate( 28%, -37%);
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 140px;
   
}


.control-r{
    width: 170px;
    height: 170px;
    background-color: rgb(183, 183, 183);
    transform: translate( -50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 100px
    
}


.control-L{
    width: 270px;
    height: 270px;
    background-color: rgb(218, 218, 218);
    transform: translate( -129%, -36%);
    position: fixed;
    left: 50%;
    top: 49%;
    border-radius: 140px;

}

.control-l{
    width: 220px;
    height: 200px;
    background-color: rgba(131, 121, 121, 0.13);
    transform: translate( 11%, 20%);
    position: fixed;
    border-radius: 100px
    
}


.control-l-2{
    width: 200px;
    height: 190px;
    background-color: rgb(218, 218, 218);
    transform: translate( 17%, 24%);
    position: fixed;
    border-radius: 100px
}


.dir-up-down{
    height: 35px;
    width: 100px;
    background-color: rgb(170, 167, 167);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: rotate(90deg);
    bottom: 45%;
    right: 32%;
}


.dir-l-r{
    height: 35px;
    width: 100px;
    background-color: rgb(170, 167, 167);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 45%;
    right: 32%;
}

.right-alt{
    width: 150px;
    height: 30px;
    background-color: rgb(134, 131, 131);
    transform: translate(55%, -400%);
    position: fixed;
    left: 51%;
    top: 51%;
    border-radius: 150px 150px;
}


.left-alt{
    width: 150px;
    height: 30px;
    background-color: rgb(138, 131, 131);
    transform: translate(-155%, -400%);
    position: fixed;
    left: 48%;
    top: 51%;
    border-radius: 150px 150px;
}


.x-y{
    height: 40px;
    width: 95px;
    background-color: rgb(218, 218, 218);
    border-radius: 50px;
    top: 90ls
    px;
    left: 64px;
    position: fixed;
    transform: rotate(315deg);
    display: block;
}


.b-a{
    height: 40px;
    width: 95px;
    background-color: rgb(218, 218, 218);
    border-radius: 50px;
    bottom: 55px;
    right: 28px;
    position: fixed;
    transform: translate(310%, 100%);
    transform: rotate(315deg);
    display: block;
}


.x-blue{
    background-color: rgb(100, 127, 250);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    position: fixed;
    transform: translate(40%, 17%);
}


.y-green{
    background-color: rgb(56, 190, 30);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    position: fixed;
    transform: translate(185%, 17%);
}


.b-yellow{
    background-color: rgb(245, 236, 106);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    position: fixed;
    transform: translate(40%, 17%);
}


.a-red{
    background-color: rgb(243, 65, 65);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    position: fixed;
    transform: translate(185%, 17%);
}


#x-button{
    text-align: center;
    color: white;
    font-family: sans-serif;
    transform: translate(11%, 65%);
}


#y-button{
    text-align: center;
    color: white;
    font-family: sans-serif;
    transform: translate(-38%, 425%);
}


#a-button{
    text-align: center;
    color: white;
    font-family: sans-serif;
    transform: translate(40%, 145%);
}


#b-button{
    text-align: center;
    color: white;
    font-family: sans-serif;
    transform: translate(-10%, 490%);
}


.control-nintendo>.select{
    height: 13px;
    width: 40px;
    background-color: rgb(138, 131, 131);
    border-radius: 30px;
    bottom: 20%;
    left: 41%;
    position: absolute;
    transform: rotate(-50deg);
    font-size: 10px;
    font-family: sans-serif;
    color: black;
    
}


.control-nintendo>.start{
    height: 13px;
    width: 40px;
    background-color: rgb(138, 131, 131);
    border-radius: 30px;
    bottom: 20%;
    right: 41%;
    position: absolute;
    transform: rotate(-50deg);
    font-size: 10px;
    font-family: sans-serif;
    color: black;
    
}
